html,
body {
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  margin-bottom: 110px;
  padding: 20px;
}
header {
  color: black;
  margin: 0px;
  font-size: 1.8em;
  font-weight: thin;
}
article {
  color: #4d4e53;
  margin: 15px;
  font-size: 15px;
}

/* STYLE THE NAV MENU */
#navbar {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  width: 300px;
}
#navbar {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  width: 300px;
}
#navbar header {
  text-align: center;
  margin: 10px;
}
#navbar ul {
  height: 87%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}
#navbar li {
  position: relative;
  width: 100%;
  color: #4d4e53;
  border-top: 1px solid #ddd;
  list-style: none;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
code {
  position: relative;
  display: block;
  padding: 15px;
  margin: 10px;
  text-align: left;
  line-height: 2;
  background-color: #f7f7f7;
  border-radius: 5px;
  white-space: pre-line;
}
section li {
  margin-top: 15px;
  margin-left: 20px;
} 

/* FOR MOBILE RESPOSIVENESS */
@media only screen and (max-width: 600px) {
  
 #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    border: none;
  }

  #main-doc {
    position: relative;
    margin-top: 270px;
    margin-left: 0px;
  }
  #main-doc header {
    text-align: center;
  }
}